TRIGGER_CAPSULE_ID=
TEST_CAPSULE_ID=
CODEOCEAN_DOMAIN=
ECEPHYS_PIPELINE_ID=
ECEPHYS_PIPELINE_VERSION=
ECEPHYS_INPUT_MOUNT=
ECEPHYS_ALERT_BOT_URL=
ECEPHYS_OPTO_PIPELINE_ID=
ECEPHYS_OPTO_PIPELINE_VERSION=
ECEPHYS_OPTO_INPUT_MOUNT=
ECEPHYS_OPTO_ALERT_BOT_URL=
SMARTSPIM_PIPELINE_ID=
SMARTSPIM_PIPELINE_VERSION=
SMARTSPIM_INPUT_MOUNT=
SMARTSPIM_ALERT_BOT_URL=
SINGLEPLANE_OPHYS_PIPELINE_ID=
SINGLEPLANE_OPHYS_PIPELINE_VERSION=
SINGLEPLANE_OPHYS_INPUT_MOUNT=
SINGLEPLANE_OPHYS_ALERT_BOT_URL=
MULTIPLANE_OPHYS_PIPELINE_ID=
MULTIPLANE_OPHYS_PIPELINE_VERSION=
MULTIPLANE_OPHYS_INPUT_MOUNT=
MULTIPLANE_OPHYS_ALERT_BOT_URL=
